{
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "psl": true
  }
}
